# Retrieved from our auth provider Kinde
KINDE_CLIENT_ID=c623abc64d3e4e72a0f32a610577ca06
KINDE_CLIENT_SECRET=TvtMS9FANSh3STo1HKJbBbHyTFqqXMZddCT4vQwNu5U8PA2qdORy
KINDE_ISSUER_URL=https://adyl.kinde.com
KINDE_SITE_URL=http://localhost:3000
KINDE_POST_LOGOUT_REDIRECT_URL=http://localhost:3000
KINDE_POST_LOGIN_REDIRECT_URL=http://localhost:3000

NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Retrieved from our payment provider stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Retrieved from file uploading service uploadthing
UPLOADTHING_SECRET=sk_live_fb436dd739d986eb0ef80b782f086106f1425bb093acc3b1f8e3a795c2127404
UPLOADTHING_APP_ID=
UPLOADTHING_TOKEN='eyJhcGlLZXkiOiJza19saXZlX2ZiNDM2ZGQ3MzlkOTg2ZWIwZWY4MGI3ODJmMDg2MTA2ZjE0MjViYjA5M2FjYzNiMWY4ZTNhNzk1YzIxMjc0MDQiLCJhcHBJZCI6ImF4amo1b2FpbXkiLCJyZWdpb25zIjpbInNlYTEiXX0='

# Retrieved from our hosted database at neon.tech
DATABASE_URL='postgresql://Anaconda_owner:wL2KfHgzb1aS@ep-wandering-tree-a2ickzli.eu-central-1.aws.neon.tech/Anaconda?sslmode=require'
# (optional) Your email to access the secret admin dashboard
ADMIN_EMAIL=

# (optional) Retrieved from email sending service resend
RESEND_API_KEY=